<!------------------------------------------------------------------------------
Copyright 2022-2023 RHEA System S.A.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
------------------------------------------------------------------------------->

@page "/"
@page "/index"

@using SysML2.NET.Viewer.Components

<div class="row text-align-start align-items-center justify-content-md-center">
    <div style="width: 70%">
        <AuthorizeView>
            <Authorized>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col p-0 col-10">
                            @context.User.Identity?.Name 
                        </div>
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="container">
                    <LoginComponent/>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
