<!------------------------------------------------------------------------------
Copyright 2022-2026 Starion Group S.A.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
------------------------------------------------------------------------------->

@page "/projects"

@using SysML2.NET.PIM.DTO

@if (isLoading)
{
    <RadzenHeading Size="H1" style="display: inline-block" Text="Projects"></RadzenHeading>

    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
}
else
{
    <RadzenHeading Size="H1" style="display: inline-block" Text="Projects"></RadzenHeading>

    <RadzenDataGrid Count="@count" PageSize="10" AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowColumnResize="true" Data="@this.projects" TItem="Project">
        <Columns>
            <RadzenDataGridColumn TItem="Project" Title="Name">
                <Template Context="project">
                    <a href="/projects/@project?.Id">@project?.Name</a>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Project" Property="Description" Title="Description" />
        </Columns>
    </RadzenDataGrid>
}
