<!------------------------------------------------------------------------------
Copyright 2022-2023 RHEA System S.A.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
------------------------------------------------------------------------------->

@using System.Reflection
@using SysML2.NET.Common;

@inject DialogService DialogService
@inject HttpClient HttpClient;

<div class="row">
    <div class="col-lg-6 d-flex">
        <RadzenImage Path="images/sysml-logo.png" Class="rounded-circle float-left mt-1 mr-3" Style="width: 90px; height: 90px;"/>
        <RadzenCard Style="width: 100%; overflow: hidden;">
            <div class="d-flex flex-row">
                <div>
                    <div>Viewer Version: </div>
                    <b>@viewerVersion</b>

                </div>
            </div>
        </RadzenCard>
    </div>
    <div class="col-lg-6 d-flex">
        <RadzenCard Style="width: 100%; overflow: hidden;">
            <div class="d-flex flex-row">
                <div>
                    <div>SysML2.NET Version: </div>
                    <b>@this.sysML2NetVersion</b>
                </div>
            </div>
        </RadzenCard>
    </div>
</div>
<div class="row my-4">
    <div class="col-md-12">
        <RadzenCard>
            <RadzenTextArea Style="height: 300px" Value="@license"></RadzenTextArea>
        </RadzenCard>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <p>Copyright &copy; <a href="https://www.rheagroup.com/" title="RHEA" target="_blank" class="mx-3">RHEA System S.A.</a> 2022-2023.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <RadzenButton Click="@(args => DialogService.Close(true))" Text="Close" Style="width: 120px"/>
    </div>
</div>

@code {

    /// <summary>
    /// The Version of the SysML2 viewer
    /// </summary>
    private string viewerVersion = string.Empty;

    /// <summary>
    /// The Version of the SysML2.NET library
    /// </summary>
    private string sysML2NetVersion = string.Empty;

    /// <summary>
    /// The license text as retrieved from the GitHub repos
    /// </summary>
    private string license = string.Empty;

    /// <summary>
    /// Method invoked when the component is ready to start, having received its
    /// initial parameters from its parent in the render tree.
    /// Override this method if you will perform an asynchronous operation and
    /// want the component to refresh when that operation is completed.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        this.viewerVersion = Assembly.GetExecutingAssembly().
            GetCustomAttribute<AssemblyInformationalVersionAttribute>().
            InformationalVersion;


        var assemblyVersion = typeof(IData).Assembly.GetName().Version;
        this.sysML2NetVersion = $"{assemblyVersion.Major}.{assemblyVersion.Minor}.{assemblyVersion.Revision}";
        
        license = await HttpClient.GetStringAsync("https://raw.githubusercontent.com/RHEAGROUP/SysML2.NET/development/LICENSE");
    }
}
